/* Import base styles that don't change often */
@import './base-styles.css';

/* Tailwind directives */
@tailwind base;

@layer base {
  html {
    font-family: var(--font-outfit);
  }
}

@tailwind components;
@tailwind utilities;

/* Custom animations */
.btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out .5s;
}
.btn-ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #fff;
	opacity: 0;
	pointer-events: none;
	transition: all ease-out .9s;
	transform: scale(3, 2);
}
.btn-ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: .1;
	transition: 0s;
	transform: scale(0, 0);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
